<span class="flash">
  <% if flash[:create] %>
    <%= flash[:create] %>
  <% end %>
  <% if flash[:update] %>
    <%= flash[:update] %>
  <% end %>
</span>

<%= form_with model:@book, local:true do |f| %>
  <P>
    <strong>Title:</strong>
    <%= f.text_field :title %>
  </p>
  <p>
    <strong>Body:</strong>
      <%= f.text_area :body %>
  </P>
<% end %>
<span class="a">
  <%= link_to 'Edit', edit_book_path(@book.id) %>
  |
<%= link_to 'Back', books_path %>
</span>