<span class="flash">
  <% if flash[:create] %>
    <%= flash[:create] %>
  <% end %>
  <% if flash[:update] %>
    <%= flash[:update] %>
  <% end %>
</span>


  <P>
    <strong>Title:</strong>
    <%= @book.title %>
  </p>
  <p>
    <strong>Body:</strong>
      <%= @book.body %>
  </P>

<span class="a">
  <%= link_to 'Edit', edit_book_path(@book.id) %>
  |
  <%= link_to 'Back', books_path %>
</span>
